{% extends 'base.html' %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
    <h1>Tasks</h1>
        {% for item in tasks %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{item["name"]}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item["summary"]}}</h6>
                <p class="card-text">{{item["description"]}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        {% endfor %}
{% endblock %}